@model IEnumerable<BoligBlik.MVC.Models.Bookings.BookingViewModel>

@{
    ViewData["Title"] = "Dine Bookinger";
}

<h1>GetUserBookings</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => booking.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => booking.EndTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Booking" asp-route-id="@booking.Id" class="btn btn-primary btn-sm">Opdater Booking</a>
                </td>
            </tr>
        }
    </tbody>
</table>
