@model IEnumerable<BoligBlik.MVC.Models.BookingItems.BookingItemViewModel>

@{
    ViewData["Title"] = "List";
}
<div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
    <h1 class="text-primary">Oversigt over elementerne</h1>
    <h5 class="text-black">book nu</h5>
    <p></p>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Pris
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Regler
            </th>
            <th>
                Fejl / Mangler
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <input type="hidden" asp-for="@item.Id" />
            <input type="hidden" asp-for="@item.RowVersion" />
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rules)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repairs)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="BookingItems" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                        <i class="fas fa-edit"></i>Opdater
                    </a> |
                    <a asp-action="Delete" asp-controller="BookingItems" asp-route-id="@item.Id" asp-route-rowVersion="@Convert.ToBase64String(item.RowVersion)" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash-alt"></i> Slet
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
<a asp-controller="BookingItems" asp-action="Create" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Tilføj et element</button></a>
