@model BoligBlik.MVC.Models.Addresses.AddressEditViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Tilføj Bruger</h1>
<form method="post">
    <div class="container">
        <h4>Adresse</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Address.Street" class="control-label">Vejnavn</label>
                    <input asp-for="Address.Street" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="Address.HouseNumber" class="control-label">Husnummer</label>
                    <input asp-for="Address.HouseNumber" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="Address.Floor" class="control-label">Etage</label>
                    <input asp-for="Address.Floor" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="Address.DoorNumber" class="control-label">Dør betegnelse</label>
                    <input asp-for="Address.DoorNumber" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Address.City" class="control-label">By</label>
                    <input asp-for="Address.City" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="Address.PostalCodeNumber" class="control-label">Post nr.</label>
                    <input asp-for="Address.PostalCodeNumber" class="form-control" readonly="readonly" />
                </div>
                <input type="hidden" asp-for="Address.Id" />
                <input type="hidden" asp-for="Address.RowVersion" />
            </div>
        </div>
        <h2>Tilhørende brugere</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fornavn</th>
                    <th>Efternavn</th>
                    <th>Telefonnummer</th>
                    <th>E-Mail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Address.Users)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.EmailAddress</td>
                        <input type="hidden" asp-for="@user.Id" />
                        <input type="hidden" asp-for="@user.RowVersion" />
                    </tr>
                }
            </tbody>
        </table>

        <h2>Brugere uden adresse</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fornavn</th>
                    <th>Efternavn</th>
                    <th>Telefonnummer</th>
                    <th>E-Mail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.UsersWithoutAddress)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.EmailAddress</td>
                        <input type="hidden" asp-for="@user.Id" />
                        <input type="hidden" asp-for="@user.RowVersion" />
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
            <label asp-for="selectedUser.EmailAddress" class="control-label">Email på den valgte bruger</label>
            <input asp-for="selectedUser.EmailAddress" class="form-control" />
            <span asp-validation-for="selectedUser.EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Gem" class="btn btn-primary" />
        </div>
    </div>
</form>