@page
@model BoligBlik.MVC.Controllers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddressViewModel[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressViewModel[0].HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressViewModel[0].Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressViewModel[0].DoorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressViewModel[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressViewModel[0].PostalCodeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressViewModel[0].RowVersion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AddressViewModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCodeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
