@model IEnumerable<BoligBlik.MVC.Models.BoardMembers.BoardMemberViewModel>
@{
    ViewData["Title"] = "ReadAll";
}
<div class="container-fluid py-5 mb-5 team">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h1>Bestyrelsen</h1>
            <h5 class="text-primary">MØD OS HER</h5>
        </div>
        <div class="owl-carousel team-carousel wow fadeIn" data-wow-delay=".5s">
        </div>
    </div>
</div>
@foreach (var item in Model)
{
    <div class="rounded team-item" align="center">
        <div class="team-content">
            <div class="team-img-icon">
                <div class="team-img rounded-circle">
                    <!-- ALLE billeder skal hentes fra DB ud fra ens User-->
                    <img src=@($"/img/{@item.Title}.jpg") class="img-fluid w-25 rounded-circle">
                </div>
                <div class="team-name text-center py-3">
                    @if (item.User is not null)
                    {
                        <h4>@item.User.FirstName @item.User.LastName</h4>
                    }
                    else
                    {
                        <h4>Ikke besat</h4>
                    }
                    <h5 class="text-primary">@item.Title</h5>

                    <p>@item.Description</p>

                    <p>@item.User.EmailAddress</p>

                    <p>@item.User.PhoneNumber</p>
                    <input type="hidden" asp-for="@item.Id" />
                    <input type="hidden" asp-for="@item.RowVersion" />
                        <div class="container" align="center">
                            <a asp-controller="BoardMember" asp-action="Update" asp-route-id="@item.Id" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Opdater medlem</button></a>
                            <a asp-controller="BoardMember" asp-action="Delete" asp-route-id="@item.Id" asp-route-rowVersion="@Convert.ToBase64String(item.RowVersion)" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Fjern medlem</button></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
}

    <a asp-controller="BoardMember" asp-action="Create" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Tilføj medlem</button></a>