@using BoligBlik.MVC.Models.Users
@model IEnumerable<BoligBlik.MVC.Models.Users.UserViewModel>
@{
    string title = "Alle Profiler";
}
<p></p>
<div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
    <h1>Alle Beboere</h1>
    <h5 class="text-primary">Oplysninger</h5>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Telefon nr.</th>
            <th>E-Mail</th>
        @if (AuthorizationService.AuthorizeAsync(User, "ManagementPolicy").Result.Succeeded)
            {
                <th>Foretag ændringer</th>
            }
        </tr>
    </thead>
    <tbody id="userTableBody">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.PhoneNumber</td>
                <td>@user.EmailAddress</td>
                <input type="hidden" asp-for="@user.Id" />
                <input type="hidden" asp-for="@user.RowVersion" />
                <td>
                    @if (AuthorizationService.AuthorizeAsync(User, "ManagementPolicy").Result.Succeeded)
                    {
                    <a asp-action="Edit" asp-controller="User" asp-route-email="@user.EmailAddress" class="btn btn-primary btn-sm">Opdater Bruger</a>
                    <a asp-action="Delete" asp-controller="User" asp-route-id="@user.Id" asp-route-email="@user.EmailAddress" asp-route-rowVersion="@Convert.ToBase64String(user.RowVersion)" class="btn btn-secondary btn-sm">Fjern bruger</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>